{% extends "main.html" %}
{% block menu %}
    {% if post | length != 0 %}
        <h1 style="color: black; text-align: center; font-size: 40px; margin-top: 1%"><b>Запись №{{ post[0].id }}</b>
        </h1>
        <div class="container-sm" style="margin-top: 1%; margin-bottom: 1%">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="border-radius: 30px;border-width: 10px;border-color: black;background: #181a1e">
                        <div class="card-body" align="justify">
                            <h1 style="color: #e7a933"><b>{{ post[0].title }}</b></h1>
                            <hr style="color: #d1dfff; border-width: 6px;">
                            <h2 style="color: #e8c176"> {{ post[0].text }}</h2>
                            <h5 style="color: #e8c176"> Автор поста: <b style="color: #4cafac">{{ post[0].author }}</b>
                            </h5>
                            <h5 align="left" style="color: #e7a933"> Дата создания: <b
                                    style="color: #069a9a">{{ post[0].datetime }}</b></h5>
                            <div align="right">
                                <a class="navbar-brand" href="/" style="color: black">
                                    <button type="button" class="btn btn-primary"
                                            style="background: #28292d; color: #e7a933; border-color: black;
                                         border-radius: 10px; border-width: 4px">
                                        <h5>Назад</h5>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1 style="color: black; text-align: center; font-size: 40px; margin-top: 1%"><b>Запись №{{ post[0].id }}</b>
        </h1>
        <div class="container-sm" style="margin-top: 1%; margin-bottom: 1%">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="border-radius: 30px; border-width: 10px; border-color: black;background: #181a1e">
                        <div class="card-body" align="justify">
                            <h1 style="color: wheat"> Пост с таким id не существует</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock menu %}