{% extends "main.html" %}
{% block menu %}
    {% if admin == 1 %}
        <center>
            <h1 style="color: black; text-align: center; font-size: 40px; margin-top: 1%"><b>Контроль пользователей</b>
            </h1>
            <div style="margin-top: 1%">
                <a class="navbar-brand" href="/adminpanel/"
                   style="color: black">
                    <button type="button" class="btn btn-primary"
                            style="background: #28292d; color: #4cafac; border-color: black;
                                         border-radius: 10px; border-width: 4px">
                        <h3><b>Панель
                            администратора</b></h3>
                    </button>
                </a>
            </div>
        </center>
        {% for user in users %}
            <div class="container-sm" style="margin-top: 1%; margin-bottom: 1%">
                <div class="row align-items-start">
                    <div class="col">
                        <div class="bg-image card shadow-1-strong"
                             style="border-radius: 30px; border-width: 10px; border-color: black;background: #181a1e">
                            <div class="card-body" align="justify">
                                <h1 style="color: #e7a933">Пользователь <b>#{{ user.id }}</b></h1>
                                <hr style="color: #d1dfff; border-width: 6px;">
                                <h2 style="color: #e8c176"> Имя пользователя: <b
                                        style="color: #4cafac">{{ user.username }}</b></h2>
                                <h5 style="color: #e8c176">Email: <b style="color: #4cafac">{{ user.email }}</b></h5>
                                <h5 align="center" style="color: #056e6e"> Администратор:
                                    <b>{{ 'ДА' if user.admin == 1 else 'НЕТ' }}</b></h5>
                                {% include 'adminpanel_changeu.html' %}
                                <center>
                                    <a class="navbar-brand" style="color: #e0b866"
                                       href="#changeModalUsername{{ user.id }}"
                                       data-bs-toggle="modal">
                                        <button type="button" class="btn btn-primary"
                                                style="background: #28292d; color: #4cafac; border-color: black;
                                         border-radius: 10px; border-width: 4px">
                                            <h5><b>Изменить имя</b></h5>
                                        </button>
                                    </a>
                                    <a class="navbar-brand" href="/adminpanel/deleteuser/{{ user.id }}/"
                                       style="color: black">
                                        <button type="button" class="btn btn-primary"
                                                style="background: #28292d; color: #4cafac; border-color: black;
                                         border-radius: 10px; border-width: 4px">
                                            <h5><b>Удалить пользователя</b></h5>
                                        </button>
                                    </a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <center>
            <h1 style="margin-top: 15%; color: black"><b>Вы не администратор!</b></h1>
            <a class="navbar-brand" href="/"
               style="color: black">
                <button type="button" class="btn btn-primary"
                        style="background: #28292d; color: #4cafac; border-color: black;
                                         border-radius: 10px; border-width: 4px">
                    <h3><b>Главная
                        страница</b></h3>
                </button>
            </a>
        </center>
    {% endif %}
{% endblock menu %}
