{% extends "main.html" %}
{% block menu %}
    <h1 style="color: black; text-align: center; font-size: 40px; margin-top: 5%; "><b>{{ message }}</b></h1>
    <center style="margin-top: 1%; margin-bottom: 2%">
        <div style="margin-top: 3%">
            <a class="navbar-brand" href="/"
               style="color: black">
                <button type="button" class="btn btn-primary"
                        style="background: #28292d; color: #4cafac; border-color: black;
                                         border-radius: 10px; border-width: 4px">
                    <h3><b>Главная страница</b></h3>
                </button>
            </a>
        </div>
    </center>
{% endblock menu %}